<ion-header>
  <ion-toolbar>
    <ion-title>
      {{pageTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input type="text" [(ngModel)]="dinnerName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Grocery Items</ion-label>
      <ion-select [(ngModel)]="dinnerGroceryItems" multiple="true" cancelText="Cancel" okText="Ok">
        <ion-option *ngFor="let item of dinnerGroceryItemsView" value="{{item.$key}}">{{item.item}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Image</ion-label>
    </ion-item>
  </ion-list>
  <button ion-button block color="primary" (click)="saveDinner()">Save</button>
  <br>
  <button ion-button block color="secondary" (click)="addItemsToList()" *ngIf="pageTitle == 'Edit Dinner'">Add Dinner Items to Grocery List</button>
  <br *ngIf="pageTitle == 'Edit Dinner'">
  <button ion-button block color="danger" (click)="goBack()">Cancel</button>
</ion-content>
