<ion-header>
  <ion-navbar>
    <table width="100%">
      <tr>
        <td width="33%" align="center"></td>
        <td width="33%" align="center"><strong>Grocery</strong></td>
        <td width="33%" align="center"><button ion-button small color="purple" (click)="listAllSelected()">{{this.remainingItems}}</button></td>
      </tr>
    </table>
  </ion-navbar>
  <div>
    <ion-segment [(ngModel)]="section">
      <ion-segment-button value="add">+</ion-segment-button>
      <ion-segment-button value="produce">Produce</ion-segment-button>
      <ion-segment-button value="center">Center</ion-segment-button>
      <ion-segment-button value="meats">Meats</ion-segment-button>
      <ion-segment-button value="cold">Cold</ion-segment-button>
      <ion-segment-button value="misc">Misc</ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="section">
    <div *ngSwitchCase="'add'">
      <ion-searchbar (ionInput)="getGroceryItems($event)"></ion-searchbar>
    </div>
    <div *ngSwitchCase="'center'">
      <ion-list-header>
        <ion-row>
          <ion-col col-6>&nbsp;&nbsp;Aisle | (Qty) Item</ion-col>
        </ion-row>
      </ion-list-header>
    </div>
    <div *ngSwitchDefault>
      <ion-list-header>
        <ion-row>
          <ion-col col-6>&nbsp;&nbsp;(Qty) Item</ion-col>
        </ion-row>
      </ion-list-header>
    </div>
  </div>
</ion-header>

<ion-content padding>
  <ion-fab left bottom #fab>
    <button ion-fab mini color="secondary"><ion-icon name="menu"></ion-icon></button>
    <ion-fab-list side="right">
      <button ion-fab color="primary" (click)="addNewGroceryItemFab(fab)"><ion-icon name="ice-cream"></ion-icon></button>
      <button ion-fab color="purple" (click)="goDinnersPage(fab)"><ion-icon name="restaurant"></ion-icon></button>
      <button ion-fab color="orange" (click)="clearItems('checked', fab)"><ion-icon name="close-circle"></ion-icon></button>
      <button ion-fab color="danger" (click)="clearItems('all', fab)"><ion-icon name="remove-circle"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <div [ngSwitch]="section">
    <div *ngSwitchCase="'add'">
      <ion-list>
        <ion-item *ngFor="let item of addGroceryItemsView">
          <table width="100%" style="table-layout:fixed">
            <tr>
              <td width="10%" align="left"><button *ngIf="item.item != '+ Add New'" ion-button icon-only clear color="purple" (click)="editGroceryItem(item)"><ion-icon name="ios-settings-outline"></ion-icon></button></td>
              <td align="left"><div>&nbsp;&nbsp;{{ item.item }}</div></td>
              <td width="15%" align="right"><button ion-button small color="light" (click)="addItemToList(item)"><ion-icon name="add"></ion-icon></button></td>
            </tr>
          </table>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'produce'">
      <ion-list>
        <ion-item *ngFor="let item of produceGroceryItemsView">
          <ion-label color="{{item.color}}">({{item.qtySelected}}) {{item.item}}</ion-label>
          <ion-toggle checked="{{item.checked}}" color="secondary" (ionChange)="toggleItem(item)"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'center'">
      <ion-list>
        <ion-item *ngFor="let item of centerGroceryItemsView">
          <ion-label color="{{item.color}}">{{item.aisle}} | ({{item.qtySelected}}) {{item.item}}</ion-label>
          <ion-toggle checked="{{item.checked}}" color="secondary" (ionChange)="toggleItem(item)"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'meats'">
      <ion-list>
        <ion-item *ngFor="let item of meatsGroceryItemsView">
          <ion-label color="{{item.color}}">({{item.qtySelected}}) {{item.item}}</ion-label>
          <ion-toggle checked="{{item.checked}}" color="secondary" (ionChange)="toggleItem(item)"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'cold'">
      <ion-list>
        <ion-item *ngFor="let item of coldGroceryItemsView">
          <ion-label color="{{item.color}}">({{item.qtySelected}}) {{item.item}}</ion-label>
          <ion-toggle checked="{{item.checked}}" color="secondary" (ionChange)="toggleItem(item)"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'misc'">
      <ion-list>
        <ion-item *ngFor="let item of miscGroceryItemsView">
          <ion-label color="{{item.color}}">({{item.qtySelected}}) {{item.item}}</ion-label>
          <ion-toggle checked="{{item.checked}}" color="secondary" (ionChange)="toggleItem(item)"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
