<ion-header>
  <ion-toolbar>
    <ion-title>
      Remaining Selected
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">Close</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header color="purple">
      Produce
    </ion-list-header>
    <ion-item *ngFor="let item of produceGroceryItemsView">
      <ion-row>
        <ion-col col-6>{{item.item}}</ion-col>
        <ion-col col-6 align="right">{{item.qtySelected}}</ion-col>
      </ion-row>
    </ion-item>
    <br><br>
    <ion-list-header color="purple">
      Center
    </ion-list-header>
    <ion-item *ngFor="let item of centerGroceryItemsView">
      <ion-row>
        <ion-col col-6>{{item.item}}</ion-col>
        <ion-col col-6 align="right">{{item.qtySelected}}</ion-col>
      </ion-row>
    </ion-item>
    <br><br>
    <ion-list-header color="purple">
      Meats
    </ion-list-header>
    <ion-item *ngFor="let item of meatsGroceryItemsView">
      <ion-row>
        <ion-col col-6>{{item.item}}</ion-col>
        <ion-col col-6 align="right">{{item.qtySelected}}</ion-col>
      </ion-row>
    </ion-item>
    <br><br>
    <ion-list-header color="purple">
      Cold
    </ion-list-header>
    <ion-item *ngFor="let item of coldGroceryItemsView">
      <ion-row>
        <ion-col col-6>{{item.item}}</ion-col>
        <ion-col col-6 align="right">{{item.qtySelected}}</ion-col>
      </ion-row>
    </ion-item>
    <br><br>
    <ion-list-header color="purple">
      Misc
    </ion-list-header>
    <ion-item *ngFor="let item of miscGroceryItemsView">
      <ion-row>
        <ion-col col-6>{{item.item}}</ion-col>
        <ion-col col-6 align="right">{{item.qtySelected}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
